<!-- Content title -->
<h2 class="h1 text-center mb-3">Liste des évènements</h2>

<!-- Main content -->
<div class="row">
  <% @events.each do |event| %>
    <div class="col-4 mb-5">
      <div class="card">
        <!-- Img -->
        <img class="card-img-top" alt="Card image cap" src="https://cdn.shopify.com/s/files/1/0095/8208/4158/articles/Capture_d_ecran_le_2019-10-07_a_17.07.40_1546x.png?v=1570485148">
        <div class="card-body text-center">
          <!-- Body -->
          <h5 class="card-title">
            <%=event.title %>
            <!-- Display badge if user is Auhtor of the event -->
            <% if event.author === current_user %><span class="badge badge-info">Admin</span><% end %>
            <!-- Display badge if user has subscribed to the event but is not the author -->
            <% if event.users.include?(current_user) && event.author != current_user %> <span class="badge badge-success">Inscrit</span> <% end %>
          </h5>
          <p class="card-text"><%= truncate event.description, length: 180 %></p>
          <p class="card-text"><small class="text-muted">
            <%if event.start_date %>
              <%= event.start_date.strftime("%d/%m/%Y %H:%M") %>
            <% end %>

          </small></p>
          <p class="card-text"><small class="text-muted"> <%= event.author.first_name %> </small></p>
          <p class="card-text"><small class="text-muted"> <%= event.price %> </small></p>
          <p class="card-text"><small class="text-muted"> <%= event.duration %> </small></p>
          <p class="card-text"><small class="text-muted"> <%= event.location %> </small></p>
          <p class="card-text"><small class="text-muted"> Nombre de participants => <%= event.users.count %> </small></p>
          <a href="<%= event_path(event.id) %>" class="btn btn-outline-light btn-block btn-sm my-3 btn-2">Voir l'évènement</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
