<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <!-- Logo -->
  <a class="navbar-brand" href="<%=root_path %>">
    <img src="<%= image_path "logo_gossip_project.png" %>" width="30" height="30" alt="logo">
    #BTP - BalancesTonPotin
  </a>
  <!-- Humberger Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Link Team -->
      <li class="nav-item <%= 'active' if controller_name == "front" && action_name == "team" %>">
        <a class="nav-link" href="<%=team_path %>">Notre équipe de choc &#128170;</a>
      </li>
      <!-- Link Contact -->
      <li class="nav-item <%= 'active' if controller_name == "front" && action_name == "contact" %>">
        <a class="nav-link" href="<%=contact_path %>">Nous faire parvenir une missive &#9993;&#65039; à dos de Cannabis (hue Cannabis ! &#128052;)</a>
      </li>
    </ul>
    <% if !User.find_by(id: session[:user_id]) %>
      <!-- If no connected user : Btn Connection-->
      <a class="btn btn-primary btn-sm" href="<%=new_session_path %>"><i class="fas fa-sign-in-alt"></i> Se connecter</a>
    <% else %>
      <!-- If connected user : -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown dropleft">
          <!-- User avatar -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle" alt="">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- Show User fullname-->
            <p class="text-center text-secondary"><i class="fas fa-user"></i> <%= current_user.full_name %></p>
            <hr />
            <!-- Link Add gossip -->
            <a class="dropdown-item text-success" href="<%=new_gossip_path %>">
              <i class="fas fa-plus"></i> Nouveau potin
            </a>
            <hr />
            <!-- Edit account -->
<!--            <a class="dropdown-item text-success" href="<%#=new_gossip_path %>">-->
<!--              <i class="fas fa-plus"></i> Nouveau potin-->
<!--            </a>-->
<!--            <hr />-->
            <!-- Btn Sign out-->
            <a class="dropdown-item text-danger" href="<%= session_path(session.id) %>" data-method="delete" data-confirm="Are you sure ?">
              <i class="fas fa-power-off"></i> Déconnexion
            </a>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
