<main class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @user.description %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <%= link_to 'Editer le profil', edit_user_registration_path, class:"btn btn-success" %> |
  <%= link_to '« Retour Accueil', root_path, class:"btn btn-primary" %>
</main>
